%section.intro.about_halfshell
  %img.logo{src: '/images/halfshell-icon-256.png'}
  - if @header
    %h1.header= @header
    %hr
  .row
    .columns.large-6.bio
      :markdown
        Many of us work faster with command-line interfaces than with graphical 
        tools. But is emulating a terminal made in 1978 still the best we can
        do?
    .columns.large-6.hire
      :markdown
        Windowing systems have offered human-friendly interactions for years,
        but at the cost of automation, mouse-driven madness, and labrynthine menus.
