!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title Halfshell - #{@title}
    / Included CSS Files
    %link{:href => '/stylesheets/social_foundicons.css', :media => 'screen, projector, print', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:href => '/vendor/stylesheets/animate.css', :media => 'screen, projector', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:href => '/stylesheets/app.css', :media => 'screen, projector, print', :rel => 'stylesheet', :type => 'text/css'}/

    %link{ref: 'icon', type: 'image/png', href: '/images/halfshell-icon-64.png'}

    / you don't need to keep this, but it's cool for stats!
    %meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}/

    %script{type: 'text/javascript', src: '/javascripts/vendor/modernizr.js'}
    %script{type: 'text/javascript', src: '/javascripts/vendor/jquery.js'}
