= render 'top-bar', active: '/design/sketches'

%section.intro.sketches
  %h1 Sketches &amp; Mockups
  .text-center
    .panel
      %img{src: "/images/mockup3.png"}
    .panel
      %img{src: "/images/mockup2.png"}
    .panel
      %img{src: "/images/mockup.png"}
